table{
	margin-top: 50px;
	text-align: center;
	background: rgb(179, 123, 123);
	color: rgb(172, 139, 139);
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}
body{
    background-color: rgb(44, 43, 88);

}
#thead{
    background-color: #333;
}
#tbody{
    background-color: #333;
} 